{% if include.searchgov %}
<script>
  //<![CDATA[
  var usasearch_config = { siteHandle: "{{include.searchgov.affiliate}}" };

  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "//search.usa.gov/javascripts/remote.loader.js";
  document.getElementsByTagName("head")[0].appendChild(script);

  //]]>
</script>
{% if include.searchgov.inline == true %}
<form
  id="search_form"
  class="usa-search usa-search--small"
  action="{{site.baseurl}}/search/"
  accept-charset="UTF-8"
  method="get"
  role="search"
>
  {% else %}
  <form
    id="search_form"
    class="usa-search usa-search--small"
    action="{{include.searchgov.endpoint}}/search"
    accept-charset="UTF-8"
    method="get"
    role="search"
  >
    {% endif %}
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input
      name="affiliate"
      type="hidden"
      id="affiliate"
      value="{{include.searchgov.affiliate}}"
    />
    <label class="usa-sr-only" for="query">Search {{site.title}}</label>
    <input
      class="usa-input radius-left-lg"
      id="query"
      type="search"
      name="query"
      autocomplete="off"
    />
    <button class="usa-button radius-right-lg" type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>
  {% endif %}
</form>
