{% if include.searchgov %}
{% if include.searchgov.inline == true %}
<form
  id="search_form"
  class="usa-search usa-search--small margin-bottom-1"
  action="{{site.baseurl}}/search/"
  accept-charset="UTF-8"
  method="get"
  role="search"
>
{% else %}
<form
  id="search_form"
  class="usa-search usa-search--small margin-bottom-1"
  action="{{include.searchgov.endpoint}}/search"
  accept-charset="UTF-8"
  method="get"
  role="search"
>
{% endif %}

    <input name="utf8" type="hidden" value="&#x2713;" />
    <input
      name="affiliate"
      type="hidden"
      value="{{include.searchgov.affiliate}}"
    />
    <label class="usa-sr-only" for="basic-search-field-en-small"
      >Search {{site.title}}</label
    >
    <input
      class="usa-input radius-left-lg usagov-search-autocomplete"
      id="basic-search-field-en-small"
      type="search"
      name="query"
      autocomplete="off"
    />
    <button class="usa-button bg-primary-darker radius-right-lg" type="submit">
      <span class="usa-sr-only">Search</span>
    </button>
  </form>
  {% endif %}
</form>
