<div class="crt-landing--section crt-landing--emergency crt-landing--blue" markdown="0">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-offset-3 tablet:grid-col-6">
        <p class="h3 crt-landing--emergency_header">
          {{include.heading}}
        </p>
      </div>
      <div class="tablet:grid-offset-2 tablet:grid-col-8">
        <p class="crt-landing--emergency_contact">
          <em>
            We're working to make ADA.gov more useful and accessible. We've launched this beta to share our work in progress. Let us know how we're doing so far.
          </em>
        </p>
        <a href="#" class="usa-button usa-button--big crt-button--yellow" style="color: #162e51; background-color: #ffbe2e;">Share feedback</a>
      </div>
    </div>
  </div>
</div>
