<div class="crt-landing--section crt-landing--emergency crt-landing--blue" markdown="0">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-offset-3 tablet:grid-col-6">
        <svg
          class="usa-icon usa-icon--size-6 text-primary-lighter"
          aria-hidden="true"
          focusable="false"
          role="img"
        >
          <use xlink:href="{{site.baseurl}}/img/sprite.svg#warning"></use>
        </svg>
        <p class="h3 crt-landing--emergency_header">
          {{include.heading}}
        </p>
      </div>
      <div class="tablet:grid-offset-2 tablet:grid-col-8">
        <p class="crt-landing--emergency_contact">
          <em>
            Learn more about this important thing Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna .
          </em>
        </p>
      </div>
    </div>
  </div>
</div>
