<section class="usa-banner crt-banner--beta margin-y-1" aria-label="BETA site">
  <div
    class="usa-banner__inner border-top border-primary-lightest padding-top-1"
  >
    <div class="grid-col-auto">
      <span class="usa-tag bg-warning height-1 width-2 display-block"></span>
    </div>
    <div class="grid-col-fill">
      <p class="usa-banner__header-text">
        <strong>This is a BETA site:</strong> an early, in-progress version of
        an improved ADA.gov. If you don't see what you're looking for,
        <a href="https://www.ada.gov">return to the main ADA.gov</a>
      </p>
    </div>
  </div>
</section>
