<section class="usa-banner crt-banner--beta margin-y-1" aria-label="BETA site">
  <div
    class="usa-banner__inner border-top border-primary-lightest padding-top-1"
  >
    <div class="grid-col-auto">
      <span class="usa-tag bg-warning height-1 width-2 display-block"></span>
    </div>
    <div class="grid-col-fill">
      <p class="usa-banner__header-text">
        We're working on a new ADA.gov, and <a href="{{ site.touchpoints.url }}">we want your feedback!</a>
      </p>
    </div>
  </div>
</section>
