<label class="usa-label" for="category"
  ><h2 class="noAnchor">Category</h2>
  <p>Filter the page content by category</p></label
>
<div class="usa-combo-box">
  <select class="usa-select" name="category" id="category" multiple>
    <option value>Select a category</option>
    {% for tag in site.data.tags.allowed-tags %}
    {% unless tag=='title ii' or tag=='title iii' %}
    <option value="{{tag | replace: ' ', '-'}}">{{tag | capitalize}}</option>
    {% endunless %}
    {% endfor %}
  </select>
</div>
