<div class="crt-landing--section crt-lightblue" markdown="0">
  <div class="grid-container margin-bottom-7 margin-top-7">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-10">

        <div class="grid-row grid-gap">
          <h2>Featured Topics</h2>
          <p>
            These topics are the most frequently visited areas of our site. Start here to learn
            about the most commonly-searched topics of the ADA.
          </p>
        </div>
    </div>
        <div class="tablet:grid-col-12">
          <ul class="usa-card-group">
            {% for topic in site.topics %} {% if topic.topic-page-feature == true %} {% include
            card.html card=topic %} {% endif %}{% endfor %}
          </ul>
        </div>
    </div>
  </div>
  {% include mobile-carousel.html %}
</div>
