{% assign lang = "en" %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}

<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__secondary-section">
    <div class="grid-container usa-footer__logo-section">
      <div class="usa-footer__logo grid-row grid-gap-1">
        <div class="grid-col-auto">
          <img src="{{ '/assets/doj-logo.png' | relative_url }}" alt="{{ site.data[lang]['i18n'].banner.doj_seal }}" />
        </div>
        <div class="grid-col-auto">
          <div class="display-flex flex-align-center">
            <p class="usa-footer__logo-heading">
              {{site.data[lang]["i18n"].headings.logo_heading}}
            </p>
            {% if site.beta %}
            <span
              class="usa-tag bg-warning text-primary-darker text-uppercase margin-left-1"
              >{{site.data[lang]["i18n"].headings.beta_span}}</span
            >
            {% endif %}
          </div>
          <p class="usa-footer__logo-subheading">
            {{site.data[lang]["i18n"].headings.logo_subheading}}
          </p>
          {% if site.beta %}
          <a
            class="usa-button usa-button--outline display-flex flex-align-center"
            href="https://www.ada.gov"
          >
            <svg class="usa-icon margin-right-1" aria-hidden="true" role="img">
              <use
                xlink:href="{{ '/assets/img/sprite.svg' | relative_url }}#arrow_back"
              ></use>
            </svg>
            {{site.data[lang]["i18n"].links.back_legacy}}</a
          >
          {% endif %}
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col-4 grid-col-12">
          <div
            id="contact-footer"
            class="usa-footer__heading usa-footer__logo-heading"
          >
            {{site.data[lang]["i18n"].headings.contact}}
            <div class="usa-footer__separator"></div>
          </div>

          <div id="contact-crt" class="usa-footer__contact">
            <div class="usa-footer__section">
              <div class="usa-footer__icon">
                <img src="{{ '/assets/mail.svg' | relative_url }}" class="icon" alt="{{site.data[lang]['i18n'].aria.mail}}" />
              </div>
              <div id="address-footer" class="usa-footer__links">
                <p>U.S. Department of Justice</p>
                <p>Civil Rights Division</p>
                <p>Disability Rights Section</p>
                <p>950 Pennsylvania Avenue, NW</p>
                <p>Washington, D.C. 20530-0001</p>
              </div>
            </div>

            <div class="usa-footer__section">
              <div class="usa-footer__icon">
                <img src="{{ '/assets/phone.svg' | relative_url }}" class="icon" alt="{{site.data[lang]['i18n'].aria.phone}}" />
              </div>
              <div id="phone-footer" class="usa-footer__links">
                <p>
                  <a href="{{ site.contact.link | relative_url }}">{{ site.data[lang]["i18n"].links.contact }}</a>
                  </p>
                <p>
                  <a href="tel:{{ site.contact.tollfree }}"
                    >{{ site.contact.tollfree }}</a>
                </p>
                <p>
                  <a href="tel:{{ site.contact.tty }}"
                    >{{ site.contact.tty }}</a>
                  (TTY)
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="tablet:grid-col-6 grid-col-12">
          <div class="usa-footer__heading usa-footer__logo-heading">
            {{site.data[lang]["i18n"].headings.links}}
            <div class="usa-footer__separator"></div>
          </div>

          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-4 grid-col-5 usa-footer__links">
              <a href="https://www.justice.gov/crt/about">
                {{site.data[lang]["i18n"].links.about}}
              </a>
              <a href="https://archive.ada.gov" target="blank">
                Archive.ADA.gov
              </a>
              <a href="{{site.data[lang]['i18n'].links.file-a-complaint-link | relative_url }}">
                {{site.data[lang]["i18n"].links.file_complaint}}
              </a>
              <a href="https://www.justice.gov/doj/privacy-policy">
                {{site.data[lang]["i18n"].links.privacy}}
              </a>
              <a href="https://www.justice.gov/crt/freedom-information-act-0">
                {{site.data[lang]["i18n"].footer.foia}}
              </a>
              <a
                href="https://www.justice.gov/accessibility/accessibility-information"
              >
                {{site.data[lang]["i18n"].links.a11y}}
              </a>
              <a href="https://www.justice.gov">
                justice.gov
              </a>
            </div>

            <div class="tablet:grid-col-6 grid-col-4 usa-footer__links">
              <a href="https://www.justice.gov/crt">
                Justice.gov/CRT
              </a>
              <a href="https://oig.justice.gov/">
                {{site.data[lang]["i18n"].links.oig}}
              </a>
              <a href="https://www.justice.gov/doj/budget-and-performance">
                {{site.data[lang]["i18n"].links.budget}}
              </a>
              <a href="https://www.justice.gov/legalpolicies">
                {{site.data[lang]["i18n"].links.legal}}
              </a>
              <a href="https://www.usa.gov/">
                USA.gov
              </a>
              <a href="https://www.usa.gov/espanol/">
                USAGov en Español
              </a>
              <a href={{ site.govdelivery.url }}>
                Sign up for e-mail updates
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if page.title == "The Americans with Disabilities Act" or page.permalink == "/topics/" %}
  <div class="usa-footer__attribution usa-dark-background">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="usa-footer__logo-subheading">
            {{site.data[lang]["i18n"].headings.attribution}}
          </div>
          <div class="usa-footer__attribution-names">
            {% if page.title == "The Americans with Disabilities Act" %}
            <p>
              <a
                class="external-link--popup"
                href="https://stock.adobe.com/"
                >Adobe Stock</a
              >
            </p>
            <p>
              <a
                class="external-link--popup"
                href="https://affecttheverb.com/disabledandhere/"
                >{{site.data[lang]["i18n"].footer.photo_collection}}</a
              >
            </p>
            {% endif %}
            {% if page.permalink == "/topics/" %}
            <p>
              <a
                class="external-link--popup"
                href="https://stock.adobe.com/"
                >Adobe Stock</a
              >
            </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</footer>
