{% assign lang = site.active_lang %}

<footer class="usa-footer usa-footer--slim">
  <div class="usa-footer__secondary-section">
    <div class="grid-container usa-footer__logo-section">
      <div class="usa-footer__logo grid-row grid-gap-1">
        <div class="grid-col-auto">
          {% asset doj-logo.png alt="" %}
        </div>
        <div class="grid-col-auto">
          <div class="display-flex flex-align-center">
            <p class="usa-footer__logo-heading">
              ADA.gov
            </p>
            {% if site.beta %}
            <span
              class="usa-tag bg-warning text-primary-darker text-uppercase margin-left-1"
              >Beta</span
            >
            {% endif %}
          </div>
          <p class="usa-footer__logo-subheading">
            U.S. Department of Justice<br />
            Civil Rights Division
          </p>
          <a
            class="usa-button usa-button--outline display-flex flex-align-center"
            href="https://www.ada.gov"
          >
            <svg class="usa-icon margin-right-1" aria-hidden="true" role="img">
              <use
                xlink:href="{% asset img/sprite.svg @path %}#arrow_back"
              ></use>
            </svg>
            {{site.data["i18n"].links.back_legacy}}</a
          >
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-row">
        <div class="tablet:grid-col-5 grid-col-12">
          <div
            id="contact-footer"
            class="usa-footer__heading usa-footer__logo-heading"
          >
            {{site.data["i18n"].headings.contact}}
            <div class="usa-footer__separator"></div>
          </div>

          <div id="contact-crt" class="usa-footer__contact">
            <div class="usa-footer__section">
              <div class="usa-footer__icon">
                {% asset mail.svg class="icon" alt="mail" %}
              </div>
              <div id="address-footer" class="usa-footer__links">
                <p>U.S. Department of Justice</p>
                <p>Civil Rights Division</p>
                <p>Disability Rights Section</p>
                <p>950 Pennsylvania Avenue, NW</p>
                <p>Washington, D.C. 20530-0001</p>
              </div>
            </div>

            <div class="usa-footer__section">
              <div class="usa-footer__icon">
                {% asset phone.svg class="icon" alt="phone" %}
              </div>
              <div id="phone-footer" class="usa-footer__links">
                <p>
                  <a href="/infoline/">ADA Information Line</a>
                  </p>
                <p>
                  <a href="tel:{{ site.contact.tollfree }}"
                    >{{ site.contact.tollfree }}</a
                  >
                </p>
                <p>
                  <a href="tel:{{ site.contact.tty }}"
                    >{{ site.contact.tty }}</a
                  >
                  (TTY)
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="tablet:grid-col-1"></div>

        <div class="tablet:grid-col-6 grid-col-12">
          <div class="usa-footer__heading usa-footer__logo-heading">
            {{site.data["i18n"].headings.links}}
            <div class="usa-footer__separator"></div>
          </div>

          <div class="grid-row grid-gap">
            <div class="tablet:grid-col-6 grid-col-12 usa-footer__links">
              <a href="https://www.justice.gov/crt/about">
                {{site.data["i18n"].links.about}}
              </a>
              <a href="{{ '/file-a-complaint/' | relative_url }}">
                {{site.data["i18n"].links.file_complaint}}
              </a>
              <a href="https://www.justice.gov/doj/privacy-policy">
                {{site.data["i18n"].links.privacy}}
              </a>
              <a href="https://www.justice.gov/crt/freedom-information-act-0">
                FOIA
              </a>
              <a
                href="https://www.justice.gov/accessibility/accessibility-information"
              >
                {{site.data["i18n"].links.a11y}}
              </a>
              <a href="https://www.justice.gov">
                justice.gov
              </a>
            </div>

            <div class="tablet:grid-col-6 grid-col-12 usa-footer__links">
              <a href="https://www.justice.gov/crt">
                Justice.gov/CRT
              </a>
              <a href="https://oig.justice.gov/">
                {{site.data["i18n"].links.oig}}
              </a>
              <a href="https://www.justice.gov/doj/budget-and-performance">
                {{site.data["i18n"].links.budget}}
              </a>
              <a href="https://www.justice.gov/legalpolicies">
                {{site.data["i18n"].links.legal}}
              </a>
              <a href="https://www.usa.gov/">
                USA.gov
              </a>
              <a href="https://www.usa.gov/espanol/">
                USAGov en Español
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__attribution usa-dark-background">
    <div class="grid-container">
      <div class="grid-row">
        <div class="grid-col-12">
          <div class="usa-footer__logo-subheading">
            {{site.data["i18n"].headings.attribution}}
          </div>
          <div class="usa-footer__attribution-names">
            <p>
              <a
                class="external-link--popup"
                href="https://unsplash.com/"
                >Unsplash</a>: Jon Tyson
            </p>
            <p>
              <a
                class="external-link--popup"
                href="https://affecttheverb.com/disabledandhere/"
                >Disabled And Here photo collection</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
