{% assign list = include.list | strip | newline_to_br | strip_newlines | split: "<br />" %}

<ul class="usa-icon-list margin-bottom-2">
{% for item in list %}
  {% assign array = item | split: "|" %}
  {% assign content = array[0] | strip | replace_first: "- ", "" %}
  {% assign type = array[1] | strip | default: include.type %}

  <li class="usa-icon-list__item">
    {% case type %}
      {% when "green-check" %}
      <div class="usa-icon-list__icon text-green">
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#check_circle"></use>
        </svg>
      </div>
      {% when "red-x" %}
      <div class="usa-icon-list__icon text-red">
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#cancel"></use>
        </svg>
      </div>
      {% when "error" %}
      <div class="usa-icon-list__icon">
        <svg class="usa-icon" aria-hidden="true" role="img">
          <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#error"></use>
        </svg>
      </div>
    {% endcase %}
    <div class="usa-icon-list__content">
      {{content}}
    </div>
  </li>
{% endfor %}
</ul>
