<div class="grid-container crt-landing--logo_section">
  <a
    href="{{ '/' | relative_url }}"
    class="usa-footer__logo grid-row grid-gap-1 flex-align-start"
  >
    <div class="grid-col-auto">
      {% asset doj-logo.png alt="" %}
    </div>
    <div class="grid-col-auto">
      <div class="display-flex flex-align-center">
        <p class="crt-landing--logo_heading">
          ADA.gov
        </p>
        {% if site.beta %}
        <span
          class="usa-tag bg-warning text-primary-darker text-uppercase margin-left-1"
          >Beta</span
        >
        {% endif %}
      </div>
      <p class="crt-landing--logo_subheading">
        U.S. Department of Justice<br />
        Civil Rights Division
      </p>
    </div>
  </a>
</div>
