<div class="grid-container crt-landing--logo_section">
  <a
    href="{{ '/' | relative_url }}"
    class="usa-footer__logo grid-row grid-gap-1 flex-align-start"
  >
    <div class="grid-col-auto">
      {% asset doj-logo-footer.png alt="" %}
    </div>
    <div class="grid-col-auto">
      <p class="crt-landing--logo_heading">
        {{ site.title }}
      </p>
      <p class="crt-landing--logo_subheading">
        U.S. Department of Justice,<br />
        Civil Rights Division
      </p>
    </div>
  </a>
</div>
