{% assign lang = "en" %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}

<div class="grid-container crt-landing--logo_section">
  <a
    href="{{ '/' | relative_url }}"
    class="usa-footer__logo flex-align-start"
  >
    <div class="flex-none">
      <img src="{{ '/assets/images/doj-logo.png' | relative_url }}" alt="{{ site.data[lang]['i18n'].banner.doj_seal }}" class="margin-right-1" />
    </div>
    <div class="grid-col">
      <div class="display-flex flex-align-center">
        <p class="usa-footer__logo-heading">
          {{site.data[lang]["i18n"].headings.logo_heading}}
        </p>
        {% if site.beta %}
        <span
          class="usa-tag bg-warning text-primary-darker text-uppercase margin-left-1"
          >{{site.data[lang]["i18n"].headings.beta_span}}</span
        >
        {% endif %}
      </div>
      <p class="usa-footer__logo-subheading">
        {{site.data[lang]["i18n"].headings.logo_subheading}}
      </p>
    </div>
  </a>
</div>
