<div class="crt-menu--section grid-col-auto">
  <div class="usa-nav-container">
    <div class="crt-menu--navbar">
      <button class="crt-menu--mobile usa-menu-btn">Menu</button>
    </div>
    <div role="navigation" class="usa-nav" aria-label="Primary navigation">
      <div class="usa-nav__inner">
        <button class="usa-nav__close">{% asset img/usa-icons/close.svg alt="close" %}</button>
        <ul class="usa-nav__primary usa-accordion">
          {% for nav_item in include.primary_navigation %}
          {% unless nav_item.children %}
          {% assign basedir = page.url | remove_first: '/' | split: '/' | first | lstrip %}
          {% assign linkdir = nav_item.url |  replace: "/", ""  | lstrip %}
          <li class="usa-nav__primary-item">
            <a class="crt-landing--menu_link usa-nav__link{% if basedir == linkdir %} usa-current{% endif %}"
              data-text="{{ nav_item.name | escape }}"
              href="{{ nav_item.url | prepend: site.baseurl}}"><span>{{ nav_item.name | escape }}</span></a>
          </li>
          {% else %}
          {% assign nav_id = 'primary-nav-' | append: forloop.index %}
          <li class="usa-nav__primary-item">
            <button class="crt-landing--menu_link usa-accordion__button usa-nav__link" aria-expanded="false"
              data-text="{{ nav_item.name | escape }}"
              aria-controls="{{ nav_id }}"><span>{{ nav_item.name | escape }}</span></button>
            <ul id="{{ nav_id }}" class="usa-nav__submenu">
              {% for subnav_item in nav_item.children %}
              <li class="usa-nav__submenu-item">
                <a href="{{ subnav_item.url | prepend: site.baseurl }}">{{ subnav_item.name | escape }}</a>
              </li>
              {% endfor %}
            </ul>

          </li>
          {% endunless %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
