<div class="crt-menu--section grid-col-auto">
  <div class="usa-nav-container usa-header--basic">
    <div class="crt-menu--navbar">
      <button class="crt-menu--mobile usa-menu-btn">Menu</button>
    </div>
    <div role="navigation" class="usa-nav" aria-label="Primary navigation">
      <button class="usa-nav__close">
        {% asset img/usa-icons/close.svg alt="close" %}
      </button>
      <ul class="usa-nav__primary usa-accordion margin-bottom-1">
        {% for nav_item in include.primary_navigation %} {% unless
        nav_item.children %} {% assign basedir = page.url | remove_first: '/' |
        split: '/' | first | lstrip %} {% assign linkdir = nav_item.url |
        replace: "/", "" | lstrip %}
        <li class="usa-nav__primary-item desktop:text-no-wrap {{ nav_item.classes }}">
          <a
            class="crt-landing--menu_link usa-nav__link{% if basedir == linkdir %} usa-current{% endif %}"
            data-text="{{ nav_item.name | escape }}"
            href="{% if nav_item.external %}{{ nav_item.url }}{% else %}{{ nav_item.url | relative_url }}{% endif %}"
            ><span>{{ nav_item.name | escape }}</span></a
          >
        </li>
        {% else %} {% assign nav_id = 'primary-nav-' | append: forloop.index %}
        <li class="usa-nav__primary-item desktop:text-no-wrap {{ nav_item.classes }}">
          <button
            class="crt-landing--menu_link usa-accordion__button usa-nav__link"
            aria-expanded="false"
            data-text="{{ nav_item.name | escape }}"
            aria-controls="{{ nav_id }}"
          >
            <span>{{ nav_item.name | escape }}</span>
          </button>
          <ul id="{{ nav_id }}" class="usa-nav__submenu">
            {% for subnav_item in nav_item.children %}
            <li class="usa-nav__submenu-item">
              <a href="{{ subnav_item.url | prepend: site.baseurl }}"
                >{{ subnav_item.name | escape }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endunless %} {% endfor %}
      </ul>
      {% include searchgov/form.html searchgov=site.searchgov %}
      <div
        class="display-flex order-3 desktop:display-none flex-align-start padding-left-6 padding-right-3 bg-primary-lighter margin-x-neg-3 padding-y-3 line-height-sans-5"
      >
        {% asset ic_phone-circle.svg class="margin-right-1" alt="phone" %}
        <div>
          <span class="display-block margin-bottom-05 text-bold"
            >Questions about the ADA?</span
          >
          Talk to us at<br />
          {{ site.contact.tollfree }}<br />
          {{ site.contact.tty }} (TTY)
        </div>
      </div>
    </div>
  </div>
</div>
