<div class="crt-menu--section grid-col-auto">
  <div class="usa-nav-container">
    <div class="crt-menu--navbar">
      <button class="crt-menu--mobile usa-menu-btn">Menu</button>
    </div>
    <div class="usa-nav">
      <button class="usa-nav__close">
        {% asset usa-icons/close.svg alt="close" %}
      </button>
      <ul class="usa-nav__primary usa-accordion">
        {% for nav_item in include.primary_navigation %}
        {% assign basedir = page.url | remove_first: '/' | split: '/' | first | lstrip %}
        {% assign linkdir = nav_item.url | replace: "/", "" | lstrip %}
        <li class="usa-nav__primary-item">
          <a
            class="crt-landing--menu_link"
            href="{{ nav_item.url | prepend: site.baseurl}}"
            >{{ nav_item.name | escape }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
