<head>
  <link rel="icon" href="{% asset 'favicon.png' @path %}" />
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Title and meta description
    ================================================== -->
  {% seo %}
  {% I18n_Headers %}
  <!-- CSS
    ================================================== -->
  {% asset styles.css %}
</head>
