{% assign lang = page.lang %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}
{% assign pages=site.pages | where:"ref", page.ref | sort: lang %}

<head>
  <link rel="icon" href="{% asset 'favicon.png' @path %}" />
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Title and meta description
    ================================================== -->
  {% seo %}
  <meta http-equiv="Content-Language" content={{lang}}>
  {% for page in pages %}
    {% if page.lang!=lang %}
      <link rel="alternate" hreflang={{page.lang}} href={{page.url | relative}}>
    {% endif%}
  {% endfor %}
  <!-- CSS
    ================================================== -->
  {% asset styles.css %}
</head>
