<button
id="mobile-search-button"
aria-label="In page search"
class="desktop:display-none margin-bottom-2 tablet:margin-bottom-7 fixed-search-button usa-button"
href="{{ topUrl | relative_url }}">
    <div class="display-flex flex-row flex-justify">
        <svg class="usa-icon search" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="/assets/images/uswds/sprite.svg#search"></use>
        </svg>
        <span class="padding-left-05">Search Page</span>
    </div>
</button>