{% assign page=site.news %}
<ul class="usa-collection">
  {% for news-item in page %}
  <li class="usa-collection__item">
    <div>
      <h3 class="usa-collection__heading">
        <a class="usa-link" href="{{ news-item.permalink | relative}}"
          >{{ news-item.title }}</a
        >
      </h3>
      <p class="usa-collection__description">{{ news-item.description }}</p>
      {% if news-item.meta %}
      <ul class="usa-collection__meta" aria-label="More information">
        <li class="usa-collection__meta-item">{{ news-item.byline }}</li>
        <li class="usa-collection__meta-item">
          <time datetime="{{news-item.time | date_to_long_rfc822}}"
            >{{ news-item.time | date: %B %d, %Y}}
          </time>
        </li>
      </ul>

      {% if news-item.meta.tags.length>0 %}
      <ul class="usa-collection__meta" aria-label="Topics">
        {% for tag in news-item.meta.tags %}
        <li class="usa-collection__meta-item usa-tag usa-tag--new">
          {{ tag }}
        </li>
        {% endfor %}
      </ul>
      {% endif %} {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
