{% assign lang = "en" %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}

<section id="warning-banner" class="usa-site-alert usa-site-alert--info" aria-label='Site alert, {% if lang=="en" %}{{ post.notice_text }}{% elsif lang=="es" %}{{post.notice_text_es}}{% endif %}'>
  <div class="usa-alert">
    <div class="usa-alert__body">
      {% for post in site.categories.notices reversed limit:1 %}
      <h3 class="usa-alert__heading">{% if lang=="en" %}{{ post.notice_text }}{% elsif lang=="es" %}{{post.notice_text_es}}{% endif %}</h3>
      <p class="usa-alert__text">
        <a
          href="{{ post.url | relative_url }}"
          >{% if lang=="en" %}{{ post.notice_link }}{% elsif lang=="es" %}{{post.notice_link}}{% endif %}</a
        >
      </p>
      {% endfor %}
    </div>
  </div>
</section>

