<h2>Organization</h2>
<fieldset class="usa-fieldset">
    <legend class="usa-legend">Filter the page content by organizaiton type</legend>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="title-ii"
        type="checkbox"
        name="title-ii"
        value="title-ii"
      />
      <label class="usa-checkbox__label" for="title-ii"
        >State and local government</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="title-iii"
        type="checkbox"
        name="title-iii"
        value="title-iii"
      />
      <label class="usa-checkbox__label" for="title-iii"
        >Businesses</label
      >
    </div>
  </fieldset>