<fieldset class="usa-fieldset">
  <legend class="usa-legend">
    <h2 class="noAnchor">Organization</h2><p>Filter the page content by organization type</p>
  </legend>
  <div class="usa-checkbox">
    <input
      class="usa-checkbox__input"
      id="title-ii"
      type="checkbox"
      name="title-ii"
      value="title-ii"
      data-checked="false"
    />
    <label class="usa-checkbox__label" for="title-ii">State and local government</label>
  </div>
  <div class="usa-checkbox">
    <input
      class="usa-checkbox__input"
      id="title-iii"
      type="checkbox"
      name="title-iii"
      value="title-iii"
      data-checked="false"
    />
    <label class="usa-checkbox__label" for="title-iii">Businesses</label>
  </div>
</fieldset>
