<fieldset class="usa-fieldset">
    <legend class="usa-legend h2">Organization</legend>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="check-title-2"
        type="checkbox"
        name="organizations"
        value="title-ii"
      />
      <label class="usa-checkbox__label" for="check-title-2"
        >State and local government</label
      >
    </div>
    <div class="usa-checkbox">
      <input
        class="usa-checkbox__input"
        id="check-title-3"
        type="checkbox"
        name="organizations"
        value="title-iii"
      />
      <label class="usa-checkbox__label" for="check-title-3"
        >Businesses</label
      >
    </div>
  </fieldset>