{% assign lang = "en" %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}
<div
  class="crt-phone display-none desktop:display-flex flex-align-center bg-primary-darker text__reverse radius-bottom-md position-absolute pin-right pin-top margin-right-4 padding-x-3 padding-y-2"
>
  {% asset ic_phone-circle.svg class="margin-right-2" alt="{{site.data[lang]['i18n'].aria.phone}}" %}
  <div>
    <p class="margin-y-0">
      <a href="{{ site.contact.link | relative_url }}" class="crt-phone"
        >{{ site.data[lang]["i18n"].hotline.heading}}</a
      >
      <br />
      {{site.data[lang]["i18n"].hotline.content}} {{ site.contact.tollfree }} | {{
      site.contact.tty }} (TTY)
    </p>
  </div>
</div>
