<div class="phone-box padding-bottom-2 margin-top-2">
    <p class="display-flex">
        <img class="margin-right-1" src="{{ '/assets/images/call-us.png' | relative_url }}" alt="call us icon" />
        <strong>Have questions? Call us.</strong>
    </p>
    <p>800-514-0301<br />
    833-610-1264 (TTY)</p>

    <p class="margin-bottom-4"><strong>M, W, F:</strong> 9:30am–12:30pm and<br />
    2:30pm-4:30pm ET<br />
    <strong>Tu:</strong> 9:30am-12:00pm and<br>3:00pm-5:30pm<br />
    <strong>Th:</strong> 2:30pm–5:30pm ET</p>
</div>