{% assign lang = "en" %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}
<div markdown="0"
  class="crt-phone display-none desktop:display-flex flex-align-start bg-primary-darker text__reverse radius-bottom-md margin-right-4 padding-x-3 padding-y-1"
>
<img src="{{ '/assets/images/ic_phone-circle.svg' | relative_url }}" class="margin-right-2" alt="{{site.data[lang]['i18n'].aria.phone}}" />
  <div>
    <p class="margin-y-0">
      <a href="{{ site.contact.link | relative_url }}" class="crt-phone"
        >{{ site.data[lang]["i18n"].hotline.heading}}</a>
      <br />
      {{site.data[lang]["i18n"].hotline.content}} {{ site.contact.tollfree }} | {{
      site.contact.tty }} (TTY) <br />Monday-Friday
  </p>
  <p></p>
    <p class="margin-y-0">
      <a class="communityoutreach-link" href="{{ site.communityoutreach.link | relative_url }}" class=""
        >{{ site.data[lang]["i18n"].communityoutreach.heading}}</a
      >
      <br />
      {{site.data[lang]["i18n"].communityoutreach.content}}
    </p>
  </div>
</div>
