{% assign lang = page.lang %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}
<div id="external-link--modal" hidden>
  <div
    class="modal-wrapper"
    role="dialog"
    aria-modal="true"
    aria-describedby="modal_dialog_header"
    aria-labelledby="modal_dialog_header"
  >
    <div class="modal-content modal-content--small">
      <div class="modal-header">
        <h1 id="modal_dialog_header" class="h2">
          {{site.data[lang]["i18n"].redirect_modal.header}}
        </h1>
      </div>
      <div class="modal-form">
        <p>
          {{site.data[lang]["i18n"].redirect_modal.redirect_text}}
          <span id="external-link--address"> </span>
        </p>
        <p class="external-link--disclaimer">
          {{site.data[lang]["i18n"].redirect_modal.disclaimer_text}}
        </p>
        <div class="modal-footer">
          <a
            id="external-link--cancel"
            href="#"
            class="usa-button usa-button--outline button--cancel light-button"
            >{{site.data[lang]["i18n"].links.back}}</a
          >
          <a
            id="external-link--continue"
            href="#"
            class="usa-button button--continue"
            >{{site.data[lang]["i18n"].links.continue}}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
