{% assign projectTags = site.data.tags.allowed-tags %}
{% assign pages=site.pages %} {% assign posts=site.posts %}
{% assign topics=site.topics %}
{% assign resources=site.resources %}
{% assign pagesAndPosts = pages | concat: posts | concat: topics | concat: resources | sort:"title" %}
<!-- The array containing the tags needs to be initialized with some content, not sure why -->
{% assign tagArray = 'a,b' | split:"," %}
{% for tag in page.tags %}
{% for post in pagesAndPosts %}
{% if site.data.tags.allowed-tags contains tag %}
{% if post.tags contains tag %}
{% if post.url != page.url %}
{% assign tagArray = tagArray | push: post %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}
{% assign tagArray = tagArray | uniq %}
{% assign tagSize = tagArray | size %}

{% if tagSize > 2 %}
<div
  class="usa-summary-box related-content-container border-0 padding-2 bg-primary-lighter {% if tagSize <= 2 %} one-col {% elsif tagSize > 2 %} two-col {% endif %}"
  role="region"
  aria-labelledby="related-content-header"
>
  <h3 class="usa-summary-box__heading" id="related-content-header">
    Related Content
  </h3>
  <div class="usa-summary-box__text">
    {% for link in tagArray %}
    {% unless link.url==nil %}

    {% if link.permalink contains '/topics/' %}
      {% assign pageType = 'topics' %}
    {% elsif link.permalink contains '/resources/' %}
      {% assign pageType = 'resources' %}
    {% elsif link.permalink contains '/law-and-regs/' %}
      {% assign pageType = 'law-and-regs' %}
    {% endif %}

    <div class="icon-box">
      <div class="icon-column">
        {% case pageType %}
          {% when 'topics' %}
            {% asset library.png class="icon" alt="featured topics" %}
          {% when 'resources' %}
            {% asset folder.png class="icon" alt="guidance and resource materials" %}
          {% when 'law-and-regs' %}
            {% asset gavel.png class="icon" alt="laws and regulations" %}
        {% endcase %}
      </div>

      <div class="content-column">
        <h4 class="usa-summary-box__heading" id="page-type-info-box-header">
          {% case pageType %}
            {% when 'topics' %}
              Featured Topic
            {% when 'resources' %}
              Guidance & Resources
            {% when 'law-and-regs' %}
              Laws, Regulations, & Standards
          {% endcase %}
        </h4>

        <div class="margin-1">
          <a class="usa-summary-box__link" href="{{ link.url | relative_url }}">{{ link.title }}</a>
        </div>
      </div>
    </div>

    {% endunless %} {% endfor %}
  </div>
</div>
{% endif %}
