<div class="display-flex flex-start margin-top-1 margin-bottom-1 tool-buttons">
    {% if page.sidenav-pdf.title and page.sidenav-pdf.filename %}
        {% include download-pdf.html text=page.sidenav-pdf.text filename=page.sidenav-pdf.filename %}
    {% endif %}
    {% if page.print %}
        {% include print-button.html %}
    {% endif %}
    <div class="search-box-wrapper">
        <div class="display-flex flex-row flex-align-center">
            <svg class="usa-icon search mobile:display-none" aria-hidden="true" focusable="false" role="img">
                <use xlink:href="/assets/images/uswds/sprite.svg#search"></use>
            </svg>
            <input class="usa-input radius-lg searchbox" placeholder="Search this page" >
            <div class="icon-container">
            <div class="result-nav display-flex display-none flex-align-center">
                <span class="result-number" tabindex="0" aria-label="number of in page search results"><span class="current" tabindex="0" aria-label="current result number"></span>/<span class="total" tabindex="0" aria-label="total results" aria-live="assertive"></span></span>
                <a href="#" class="prev-result display-flex flex-align-center flex-row flex-justify disabled" id="prev-result" tabindex="0" aria-label="go to previous result">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="/assets/images/uswds/sprite.svg#expand_less"></use>
                    </svg>
                </a>
                <a href="#" class="next-result display-flex flex-align-center flex-row flex-justify" id="next-result" tabindex="0" aria-label="go to next result">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="/assets/images/uswds/sprite.svg#expand_more"></use>
                    </svg>
                </a>
                <a href="#" class="clear display-flex flex-align-center flex-row flex-justify" id="clear" tabindex="0" aria-label="clear search">
                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                            <use xlink:href="/assets/images/uswds/sprite.svg#close"></use>
                        </svg>
                </a>
            </div>
                <a href="#" class="mobile:display-none display-flex display-none searchbtn flex-align-center flex-row flex-justify" id="submit-search" aria-label="search in page">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="/assets/images/uswds/sprite.svg#arrow_forward"></use>
                    </svg>
                </a>
        </div>
    </div>
    </div>
    <button class="usa-button close-search display-flex flex-align-center flex-row flex-justify" id="closeSearch" tabindex="0" aria-label="close search">
        Close
    </button>
</div>