<div role="region" tabindex="0" aria-label="In page tools" class="display-flex flex-start margin-top-1 margin-bottom-1 tool-buttons active">
    {% if page.sidenav-pdf.title and page.sidenav-pdf.filename %}
        {% include download-pdf.html text=page.sidenav-pdf.text filename=page.sidenav-pdf.filename %}
    {% endif %}
    {% if page.print %}
        {% include print-button.html %}
    {% endif %}
<div class="search-box-wrapper {% if include.mobile %} mobile-search-box {% else %} desktop-search-box {% endif %}">
    <label class="text-bold search-label" for="{% if include.mobile %} in-page-search-mobile {% else %} in-page-search {% endif %}">Search this page</label>
    <div class="display-flex flex-row flex-align-center margin-top-05">
        <svg class="usa-icon search mobile:display-none" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#search"></use>
        </svg>
        <input aria-label="In page search. Screen reader users use regions to move back and forth from search field to results" class="usa-input radius-lg searchbox" placeholder="Search this page" >
        <div class="icon-container">
        <div class="result-nav display-flex display-none flex-align-center" aria-live="assertive">
            <span class="result-number" aria-live="assertive" aria-label="number of in page search results"><span class="current" aria-live="assertive" aria-label="current result number"></span>/<span class="total" aria-label="total results"></span></span>
            <a href="#" class="prev-result display-flex flex-align-center flex-row flex-justify disabled" id="prev-result" tabindex="-1" aria-label="go to previous result">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#expand_less"></use>
                </svg>
            </a>
            <a href="#" class="next-result display-flex flex-align-center flex-row flex-justify" id="next-result" tabindex="0" aria-label="go to next result">
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#expand_more"></use>
                </svg>
            </a>
            <a href="#" class="clear display-flex flex-align-center flex-row flex-justify" id="clear" tabindex="0" aria-label="clear search">
                {% if include.mobile %}
                CLEAR
                {% else %}
                <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#close"></use>
                </svg>
                {% endif %}
            </a>
        </div>
        {% unless include.mobile %}
                <a href="#" class="mobile:display-none display-flex display-none searchbtn flex-align-center flex-row flex-justify" id="submit-search" aria-label="search in page">
                    <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                        <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#arrow_forward"></use>
                    </svg>
                </a>
        {% endunless %}
    </div>
    <button class="usa-button close-search display-flex flex-align-center flex-row flex-justify" id="closeSearch" tabindex="0" aria-label="close search">
        Close
    </button>
    {% if include.mobile %}
    <a href="#" class="desktop:display-none display-flex mobile-searchbar flex-align-center flex-row flex-justify-center" id="submit-search" tabindex="0" aria-label="search in page">
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#search"></use>
        </svg>
    </a>
    {% endif %}
</div>
{% if include.mobile %}
    <a href="#" class="close-search display-flex flex-align-center flex-row flex-justify" id="closeSearch" tabindex="0" aria-label="close search">
        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
            <use xlink:href="{{ '/assets/images/uswds/sprite.svg' | relative_url }}#close"></use>
        </svg>
    </a>
{% endif %}
</div>
</div>