{% assign lang = page.lang %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}

<div class="usa-accordion margin-bottom-2">
  <h4 class="usa-accordion__heading desktop:display-none">
    <button
      class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="toc"
    >
      {{site.data[lang]["i18n"].links.toc}}
    </button>
  </h4>
  <nav id="toc" class="usa-accordion__content" aria-label="{{site.data[lang]['i18n'].aria.side_nav}}">
    <ul class="usa-sidenav">
      <li class="usa-sidenav__item">
        <a href="#top" class="usa-current">{% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}</a>
        <ul class="usa-sidenav__sublist">
          {% for anchor in page.subnav %}
          <li class="usa-sidenav__item">
            <a href="{{ anchor.url | relative_url }}">{{ anchor.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  </nav>
</div>
