{% assign lang = page.lang %} {% if lang==nil %}{% assign lang="en" %}{% endif %}

<nav
  id="toc"
  class="usa-accordion__content pa11y-skip"
  aria-label="{{site.data[lang]['i18n'].aria.side_nav}}"
>
<ul class="usa-sidenav {% if page.interactive-headers %}interactive{% endif %}">
  {% if page.interactive-headers %}
    {% include search-box.html mobile=false %}
  {% endif %}
  <span class="text-bold toc-label">Table of contents</span>
  {% if page.expand-sidenav %}
    {% include expand-button.html %}
  {% endif %}
  <li class="usa-sidenav__item">
    <a href="#top" class="usa-current">
      {% if page.short_title %}{{ page.short_title }}{% else %}{{ page.title }}{% endif %}
    </a>
  </li>
    {% include subnav.html collection = page.subnav level=0 %}
  </ul>
{% if page.phonebox %}
{% include phone-box.html %}
{% endif %}
</nav>
