{% assign lang = site.active_lang %}

{% if page.layout == 'page' and page.sidenav %}
  {% assign has_side_nav = true %}
{% else %}
  {% assign has_side_nav = false %}
{% endif %}

{% if has_side_nav %}
<a class="usa-skipnav" id="crt-skipnav-sidenav" href="#crt-page--sidenav-target" data-target="crt-page--sidenav">{{site.data["i18n"].links.skip.nav}}</a>
{% endif %}
<a class="usa-skipnav" id="crt-skipnav-main" data-target="crt-page--content" href="#{% if has_side_nav %}crt-page--content-target{% else %}main-content{% endif %}">{{site.data["i18n"].links.skip.main}}</a>
