<div
  class="usa-summary-box related-content-container border-0 padding-2 bg-primary-lighter"
  role="region"
  aria-labelledby="related-content-header"
  markdown="0"
>
  <h3 class="usa-summary-box__heading" id="related-content-header">
    Technical Assistance Archive
  </h3>
  <div class="usa-summary-box__text">
    Visit our original <a href="https://archive.ada.gov/ta-pubs-pg2.htm" target="blank">Technical Assistance Materials page</a> to find information published between 1990 - 2021 on <a href="https://archive.ada.gov" target="blank">archive.ADA.gov</a>.
  </div>
</div>