<div class="{% if include.in-sidenav %} touchpoints-sidenav {% else %} crt-page {% endif %} grid-container">
    <div class="grid-row grid-gap-xl">
    {% if include.sidenav != false  %}
        <div class="desktop:grid-col-4"></div>
    {% endif %}
        <div class="mobile-lg:grid-col tablet:grid-col-12 {% if include.in-sidenav %} desktop:grid-col-12 {% else %} desktop:grid-col-8 {% endif %}">
            <div class="form-wrapper usa-summary-box measure-6" id="touchpoints-yes-no-form"></div>
        </div>
    </div>
</div>