
@mixin external-link(
  $external-link: 'usa-icons/launch',
  $external-link-hover: 'usa-icons/launch',
  $image-path: $theme-image-path,
  $contrast-bg: "base-darker"
) {
  &::after {
    $external-link-size: 1.75ex;
    background-image: url("#{$image-path}/#{$external-link}.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    content: "";
    display: inline;
    height: $external-link-size;
    width: $external-link-size;
    margin-left: units(2px);
    vertical-align: middle;
  }

  &:hover::after {
    @include add-background-svg("#{$external-link-hover}", $image-path);
  }
}
