@use "uswds-core" as *;
@use 'variables' as *;

.crt-button--large {
  background-color: color($theme-color-primary-darker);
  color: color("white") !important;
  font-weight: bold !important;
  margin-top: 0.5rem;
  padding: 1rem 2rem;

  &:hover {
    background: color($theme-link-hover-color);
  }
}

#crt-page--expandaccordions,
.crt-page--downloadpdf-button,
#crt-back-to-top-button {
  background-color: color($theme-color-primary-darker);
  &:hover {
    color: white !important;
    background: color($theme-link-hover-color);
  }
  &:focus {
    background: color($theme-link-hover-color);
  }
  width: max-content;
}

.crt-page--downloadpdf-button {
  color: white;
}

.crt-page--downloadpdf-link {
  align-items: baseline;
  display: inline-flex;
  gap: 8px;

  .usa-icon {
    flex: 1 0 22px;
  }
}

span.usa-sr-only {
  color: black;
}


