@use "uswds-core" as *;

@use 'variables' as *;

.crt-glossary-popup {
  position: absolute;
  background-color: color($theme-color-primary-darker);
  border: 1px solid color($theme-color-primary-darker);
  border-radius: 5px;
  z-index: 9999;
  overflow: auto;
  max-width: 35vw;

  .crt-landing--separator_small {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
  }

  h1 {
    padding: 1rem;
    margin-bottom: 0;
    color: white;
    font-size: 1em;
  }

  p {
    padding: 1rem;
    color: color($theme-color-primary-darker);
    background-color: white;
  }

  .close {
    display: none;
    color: white;
  }

  &.sticky .close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1.5em;
    padding-right: 1em;
    cursor: pointer;
    background: none;
    font-style: italic;
    text-decoration: underline;
    border: none;
  }
}

a[href] .crt-glossary-term {
  border-bottom: none;
}

.crt-glossary-term {
  border-bottom: 1px dashed color($theme-color-primary-darker);
  cursor: pointer;
}
