@use "uswds-core" as *;
@use 'variables' as *;
@use 'separator' as *;

.crt-page {
  padding-top: 2rem;
  padding-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;

  @include at-media(desktop) {
    &.compact {
      max-width: 64rem;
      margin-left: 0px;
    }
  }

  @media(min-width: 95rem) {
    &.compact {
      margin-left: auto;
      margin-right: auto;
      max-width: 95rem;
      padding-right: calc(95rem - 64rem);
      background-color: white;
    }
  }

  @media(min-width: 64rem) and (max-width: 95rem) {
    &.compact {
      max-width: 64rem;
      background-color: white;
    }
  }

  .section {
    position: relative;

    &.highlight {
      background-color: #FDFD96;
    }

    .btn-group {
      display: flex;
      gap: 8px;
      position: relative;
      z-index: 2;

      @media(max-width: 55rem) {
        position: relative;
      }

      a {
        text-decoration: none;
      }
    }
  }

  .subpart {
    position: relative;

    .btn-group {
      display: flex;
      gap: 8px;
      position: relative;
      justify-content: start;
      z-index: 2;

      @media(max-width: 55rem) {
        position: relative;
      }

      a {
        text-decoration: none;
      }
    }
  }

  #crt-page--content {
    .crt-lead {
      > p,
      li {
        @include text--heading__medium();
      }
    }

    h1 {
      margin: 0;
    }

    h2:not(.usa-alert__heading):not(.usa-accordion__heading):not(.usa-card__heading):not(.ta-article-heading) {
      margin-top: 3rem;
      &:after {
        content: '';
        display: block;
        margin-top: 0.5rem;
        @extend .crt-landing--separator_sub !optional;
      }
    }

    h3:not(.usa-card__heading) {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }

    h4 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

  }
}

#crt-page--content {
  .law-reg-tiles {
    margin-bottom: 2em;
    strong {
      display: block;
      padding-bottom: 0.5em;
    }
    :first-of-type.lp-tile  {
      margin-right: 2em;
      @media(max-width: 639px) {
        margin-right: 0;
      }
    }
    .lp-tile  {
      border: solid 1px #D9D9D9;
      padding: 0.5rem;
    }
    .lp-tile {
      .crt-landing--reporting_column {
        h3 {
          font-family: family("heading");
          font-weight: bold;
        }
      }
    }
    .crt-landing--reporting_column {
      h3 {
        font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
        font-size: 22px;
        font-weight: normal;
        margin-top: 0;
      }
    }
  }
  }

.standards-and-guidance {
  display: flex;
  gap: 4rem;

  margin-bottom: 4rem;
  &:last-child {
    margin-bottom: 0;
  }

  @include at-media-max(tablet) {
    flex-direction: column;
  }

  .document {
    width: 100%;

    img {
      border: 1px solid lightgray;
      display: block;
      margin-bottom: 1em;
      max-height: 300px;
      max-width: 40%;
    }
  }
}
