body > .usa-banner {
  .usa-banner__button-text {
    font-weight: bold;
  }

  .usa-banner__header {
    padding-bottom: 0;
    padding-top: units(1);
  }

  .usa-banner__inner {
    max-width: 87rem;
  }
}
