.crt-button--large {
  background-color: color($theme-color-primary-darker);
  color: color("white") !important;
  font-weight: bold !important;
  margin-top: 0.5rem;
  padding: 1rem 2rem;

  &:hover {
    background: color($theme-link-hover-color);
  }
}

#crt-page--printbutton,
#crt-page--expandaccordions,
#crt-page--downloadpdf {
  background-color: color($theme-color-primary-darker);
  &:hover {
    background: color($theme-link-hover-color);
  }
  &:focus {
    background: color($theme-link-hover-color);
  }
}

#crt-page--downloadpdf {
  color: white;
}


span.usa-sr-only {
  color: black;
}

@media screen and (min-width: 0px) {
  #crt-page--printbutton--wrapper {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  #crt-page--printbutton--wrapper {
    display: block;
  }
}
