.crt-button--large {
  background-color: color($theme-color-primary-darker);
  color: color("white") !important;
  font-weight: bold !important;
  margin-top: 0.5rem;
  padding: 1rem 2rem;

  &:hover {
    background: color($theme-link-hover-color);
  }
}
