.crt-landing--header {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include at-media(mobile-lg) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .grid-container {
    padding: 0;
    margin: 0;
  }

  .crt-landing--header_section {
    display: flex;
    justify-content: space-between;

    padding: 0 1rem 0 6rem;

    @include at-media-max(desktop) {
      padding: 0 1rem;
    }
  }

  li {
    list-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .crt-menu--section {
    padding-right: 0;
  }

  .crt-menu--navbar {
    @extend .usa-navbar;
    border-bottom: 0 !important;
  }

  .crt-menu--mobile {
    @include u-radius("md");
    padding: 0.25rem 0.5rem;
    text-transform: unset;
    background: color($theme-color-primary-darker);
    color: color($theme-color-primary-lightest);
    max-height: 2rem;
  }

  .crt-landing--menu_link {
    color: color($theme-color-primary-darker) !important;
    font-size: $theme-text-font-size-md;
    font-weight: normal !important;
    text-decoration: none;

    &:hover {
      font-weight: bold !important;
    }

    @include at-media(desktop) {
      border-bottom: 1px solid transparent;
      margin-top: 0.5rem;
      padding: 0.5rem 0 !important;
      align-items: center;
      display: inline-flex !important;
      flex-direction: column;
      justify-content: space-between;

      &:after {
        content: attr(data-text);
        content: attr(data-text) / "";
        display: block !important;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        user-select: none;
        pointer-events: none;
        font-weight: bold;

        @media speech {
          display: none;
        }
      }

      &:hover,
      &.usa-current {
        border-bottom: 1px solid color($theme-color-primary-darker);
      }
    }
  }

  .crt-landing--logo_section {
    a {
      text-decoration: none;

      &:hover {
        color: color($theme-color-primary-dark);
      }
    }

    img {
      height: 60px;
      @include at-media-max(mobile-lg) {
        height: 45px;
      }
    }
  }

  .crt-landing--logo_subheading {
    @extend .usa-footer__logo-subheading;
    font-size: $theme-text-font-size-xs;
    @include at-media-max(mobile-lg) {
      @include text--body-copy__xsmall();
    }
  }

  .crt-landing--logo_heading {
    @extend .usa-footer__logo-heading;
    display: flex;
    font-size: $theme-heading-font-size-lg;
    margin-bottom: 0;
    margin-top: 0.5rem;
    @include at-media-max(mobile-lg) {
      font-size: $theme-heading-font-size-md-mobile;
    }
  }

  .usa-nav.is-visible {
    background-color: color($theme-color-primary-lightest);
    color: color($theme-color-primary-darker);
    @include u-shadow(2);
  }
}
