.crt-page {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .crt-lead {
    > p {
      @include text--heading__medium();
    }
  }

  h1 {
    margin: 0;
  }

  h2:not(.usa-alert__heading):not(.usa-accordion__heading) {
    margin-top: 3rem;

    &:after {
      content: "";
      display: block;
      margin-top: 0.5rem;
      @extend .crt-landing--separator_sub;
    }
  }

  h3 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
