.crt-page {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;

  #crt-page--content {
    .crt-lead {
      > p,
      li {
        @include text--heading__medium();
      }
    }

    h1 {
      margin: 0;
    }

    h2:not(.usa-alert__heading):not(.usa-accordion__heading):not(.usa-card__heading) {
      margin-top: 3rem;

      &:after {
        content: "";
        display: block;
        margin-top: 0.5rem;
        @extend .crt-landing--separator_sub;
      }
    }

    h3:not(.usa-card__heading) {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }

    h4 {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }
}
