.crt-page.grid-container .usa-sidenav {
  margin-left: 0;
  margin-right: 0;
}

#crt-page--sidenav {
  a:not(#crt-page--downloadpdf) {
    color: color($theme-text-color);

    &.usa-current {
      color: color($theme-color-primary-darker);

      &:after {
        background-color: color($theme-color-primary-darker);
      }
    }
  }

  .usa-sidenav__sublist {
    li {
      a {
        &:focus {
          background-color: color($theme-color-base-lightest)
        }
      }
    }
  }

  .usa-accordion {
    margin-bottom: 2rem;

    @include at-media(desktop) {
      max-height: calc(100vh - 1.5rem * 2);
      overflow-y: auto;
    }
  }

  .usa-accordion__button {
    background-color: color($theme-color-primary-darker);
    background-image: asset_url("img/usa-icons-bg/remove--white.svg");
    color: color("white");
    font-weight: normal;
    @include u-radius("md");

    &[aria-expanded="false"] {
      background-image: asset_url("img/usa-icons-bg/add--white.svg");
    }
  }

  .usa-accordion__content {
    background-color: color($theme-color-primary-lightest);
    @include u-shadow(2);
  }

  @include at-media(desktop) {
    @include u-position("sticky");
    @include u-top(3);
    @include u-flex("align-self-start");

    .usa-accordion__content {
      background: none;
      padding: 0;
      @include u-shadow("none");

      &[hidden] {
        display: block;
      }
    }

    .usa-sidenav__sublist {
      a {
        @include text--body-copy__small();
      }

      li.active {
        font-weight: bold;

        a {
          color: color($theme-color-primary-darker);
        }
      }
    }
  }
}
