.column-list {
  @include at-media(desktop) {
    column-count: 2;
  }
}

.fixed-tab-button {
  bottom: 0;
  position: fixed;
  margin-right: 0.5rem;
  right: 12px;
  width: auto;
  z-index: 9999;
}

.grid-gap-xl {
  @include grid-gap(6);
}

#expand-header-wrapper {
  @media (max-width: '800px') {
    flex-direction: column;

    #crt-page--expandaccordions--wrapper {
      float: left;
    }
  }
}
