.column-list {
  @include at-media(desktop) {
    column-count: 2;
  }
}

.fixed-tab-button {
  bottom: 0;
  margin-right: 0;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 9999;

  @include at-media(tablet) {
    margin-right: 0.5rem;
    right: 12px;
    width: auto;
  }
}

.grid-gap-xl {
  @include grid-gap(6);
}

// Custom margin additions

.margin-left-12 {
  margin-left: 6.5rem;
}

.margin-left-16 {
  margin-left: 8rem;
}

.margin-left-20 {
  margin-left: 10rem;
}