.column-list {
  @include at-media(desktop) {
    column-count: 2;
  }
}

.fixed-tab-button {
  bottom: 0;
  position: fixed;
  right: 12px;
  z-index: 9999;
}

.grid-gap-xl {
  @include grid-gap(6);
}
