.crt-page {
  padding-top: 3rem;
  padding-bottom: 3rem;

  .usa-sidenav {
    a {
      color: color($theme-text-color);

      &.usa-current {
        color: color($theme-color-primary-dark);
      }
    }
  }

  .crt-lead {
    > p {
      @include text--heading__medium();
    }
  }

  h1 {
    margin-top: 0;
  }

  h2 {
    &:after {
      content: "";
      display: block;
      margin-top: 0.5rem;
      @extend .crt-landing--separator_sub;
    }
  }

  details > summary > p {
    display: inline-block;
    margin: 0;
  }
}
