<div class="crt-landing--section crt-landing--alert crt-blue" markdown="0">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-8">
        <h2 class="crt-landing--alert_header">
          {{ include.alert.heading }}
        </h2>
        {{ include.alert.content | markdownify }}
        <a
          href="{{ include.alert.link.href }}"
          class="usa-button crt-button--large"
          >{{ include.alert.link.text }}</a
        >
      </div>
    </div>
  </div>
</div>
