<div class="crt-landing--section crt-landing--hero crt-white" markdown="0">
    <span
      class="display-none desktop:display-inline"
      role="img"
      aria-label="{{ include.hero.alt.desktop }}"
    ></span>
    <img src="{{ '/assets/images/hero-mobile-2022.jpg' | relative_url }}" alt="'{{ include.hero.alt.mobile }}'" class="height-full width-full desktop:display-none" />
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="desktop:grid-col-6">
          <h1 class="pa11y-skip">
            {{ include.hero.heading }}
          </h1>
        <div aria-hidden="true" class="desktop:grid-col-2 tablet:display-none"></div>
          <div class="crt-landing--separator"></div>
          <div class="crt-landing--paragraph-wrapper">
          <p class="crt-landing--largetext pa11y-skip">
            {{ include.hero.content }}
          </p>
        </div>
        </div>
      </div>
    </div>
  </div>
