<div class="grid-row grid-gap law-reg-tiles crt-landing--service_animals" markdown="0">
    <div class="grid-col lp-tile crt-landing--section__item">
        <div class="crt-landing--reporting_column">
            <div class="h4 crt-landing--icon_grey"><img src="{{'/assets/images/landing/laws_regs_standards_grey_bg.png' | relative_url}}" alt=""/></div>
            <div>
                <h3>
                    <a href="{{'/law-and-regs/regulations/' | relative_url}}" class="law-reg-tile-link" data-ga-event-name="Learn more regulations">Regulations</a>
                </h3>
                <div style="margin-top: 0px" class="no-bullets padding-left-2">
                    <p>Regulations under the Americans with Disabilities Act (ADA) explain the rights of people with disabilities and the obligations of those covered by the laws.</p>
                </div>
                <a href="{{'/law-and-regs/regulations/' | relative_url}}" class="usa-button law-reg-tile-link margin-bottom-2" data-ga-event-name="Learn more regulations">Learn more</a>
            </div>
        </div>
    </div>
    <div class="grid-col lp-tile crt-landing--section__item">
        <div class="crt-landing--reporting_column">
            <div class="h4 crt-landing--icon_grey"><img src="{{'/assets/images/construction.png' | relative_url}}" alt=""/></div>
            <div>
                <h3>
                    <a href="{{'/law-and-regs/design-standards' | relative_url }}" class="law-reg-tile-link" data-ga-event-name="Learn more design standards">Design Standards</a>
                </h3>
                <div style="margin-top: 0px" class="no-bullets padding-left-2">
                <p>The ADA Standards for Accessible Design say what is required for a building or facility to be physically accessible to people with disabilities.</p>
                </div>
                <a href="{{'/law-and-regs/design-standards/' | relative_url}}" class="usa-button law-reg-tile-link margin-bottom-2" data-ga-event-name="Learn more design standards">Learn more</a>
            </div>
        </div>
    </div>
</div>