<div
  id="crt-landing--learn"
  class="crt-landing--section crt-landing--whats_on_ada crt-blue"
  markdown="0"
>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-12">
        <h2 class="h1 text__reverse">
          {{ include.learn.heading }}
        </h2>
        <div class="crt-landing--separator_small"></div>
      </div>
      <div class="tablet:grid-col-12">
        <p class="crt-landing--largetext">
          {{ include.learn.lead }}
        </p>
      </div>
      <div class="tablet:grid-col-12">
        <div class="grid-row grid-gap">
          {% for section in include.learn.sections %}
            <div class="tablet:grid-col-4 crt-landing--section__item">
              <div class="crt-landing--reporting_column">
                <div class="h4 crt-landing--icon_gold">{% asset {{section.icon}} alt=""%}</div>
                <div>
                  <h3 class="text__reverse margin-bottom-0">
                    {{ section.heading }}
                  </h3>
                  <p class="margin-y-0">
                    {{ section.content }}
                  </p>
                  <p>
                    Examples:
                  </p>
                  <ul class="padding-left-2">
                  {% for example in section.examples %}
                    <li class="padding-y-1">
                        <a class="text-white learn-link" aria-label="learn link" href="{{example.link | relative_url }}">
                            {{ example.title }}
                        </a>
                    </li>
                  {% endfor %}
                </ul>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>