<div
  id="crt-landing--reporting"
  class="crt-landing--section crt-landing--how_to_report crt-blue"
  markdown="0"
>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-12">
        <h2 class="h1 text__reverse" id="report-a-violation">
          How to Report a Disability Rights Violation
        </h2>
        <div class="crt-landing--separator_small"></div>
      </div>
      <div class="tablet:grid-col-9">
        <p class="crt-landing--largetext">
          If you believe that you or someone else experienced unlawful
          discrimination, you can report a disability rights violation.
        </p>
      </div>
      <div class="tablet:grid-col-12">
        <div class="grid-row grid-gap">
          <div class="tablet:grid-col-4 crt-landing--section__item">
            <div class="crt-landing--reporting_column">
              <div class="h4 crt-landing--icon_gold">1</div>
              <div>
                <h3 class="text__reverse">
                  Report using our online form.
                </h3>
                <p class="margin-bottom-0">
                  By completing the online form, you can provide the details we
                  need to understand what happened. You will receive a
                  confirmation number and your report is immediately sent to our
                  staff for review.
                </p>
              </div>
            </div>
          </div>
          <div class="tablet:grid-col-4 crt-landing--section__item">
            <div class="crt-landing--reporting_column">
              <div class="h4 crt-landing--icon_gold">2</div>
              <div>
                <h3 class="text__reverse">
                  We review your report.
                </h3>
                <p class="margin-bottom-0">
                  Teams that specialize in handling your type of issue will
                  review it. If it needs to be forwarded to another team or
                  agency, we will try to connect your complaint to the right
                  group.
                </p>
              </div>
            </div>
          </div>
          <div class="tablet:grid-col-4 crt-landing--section__item">
            <div class="crt-landing--reporting_column">
              <div class="h4 crt-landing--icon_gold">3</div>
              <div>
                <h3 class="text__reverse">
                  We determine next steps and get back to you.
                </h3>
                <p class="margin-bottom-0">
                  Possible outcomes include: following up for more information,
                  starting a mediation or investigation, directing you to
                  another organization for further help, or informing you that
                  we cannot help.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="crt-lightblue" markdown="0">
  <div class="grid-container">
    <div class="crt-landing--arrow"></div>
  </div>
</div>
<div
  class="crt-landing--section crt-landing--submit crt-lightblue"
  markdown="0"
>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-10">
        <h2 class="h2">
          Think you or someone you know has experienced a disability rights
          violation?
        </h2>
        <a
          class="usa-button usa-button--big crt-button--large"
          href="https://civilrights.justice.gov/report/"
          >Submit a report</a
        >
      </div>
    </div>
  </div>
</div>
