<div
  id="crt-landing--reporting"
  class="crt-landing--section crt-landing--how_to_report crt-blue"
  markdown="0"
>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-12">
        <h2 class="h1 text__reverse" id="report-a-violation">
          {{ include.report.heading }}
        </h2>
        <div class="crt-landing--separator_small"></div>
      </div>
      <div class="tablet:grid-col-9">
        <p class="crt-landing--largetext">
          {{ include.report.lead }}
        </p>
      </div>
      <div class="tablet:grid-col-12">
        <div class="grid-row grid-gap">
          {% for step in include.report.steps %}
            <div class="tablet:grid-col-4 crt-landing--section__item">
              <div class="crt-landing--reporting_column">
                <div class="h4 crt-landing--icon_gold">{{ forloop.index }}</div>
                <div>
                  <h3 class="text__reverse">
                    {{ step.heading }}
                  </h3>
                  <p class="margin-bottom-0">
                    {{ step.content }}
                  </p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="crt-lightblue" markdown="0">
  <div class="grid-container">
    <div class="crt-landing--arrow"></div>
  </div>
</div>
<div
  class="crt-landing--section crt-landing--submit crt-lightblue"
  markdown="0"
>
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-10">
        <h2 class="h2">
          {{ include.report.subheading }}
        </h2>
        <a
          class="usa-button usa-button--big crt-button--large"
          id="gtm-file-compliant-button"
          href="{{ '/file-a-complaint/' | relative_url }}"
          >{{ include.report.link.text }}</a
        >
      </div>
    </div>
  </div>
</div>
