<div class="crt-landing--section crt-lightblue" markdown="0">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-10">
        <h2 class="h1">
          Understand the basics of ADA
        </h2>
        <div class="crt-landing--separator"></div>
        <p class="crt-landing--lead">
          The ADA protects people with disabilities from discrimination in many
          areas of public life.
        </p>
      </div>
      <div class="tablet:grid-col-12">
        <div class="grid-row grid-gap">
          <p class="crt-landing--largetext">
            <strong>Pick a topic to find out how the ADA works.</strong> We’ll
            be adding more guides soon.
          </p>
          <ul class="usa-card-group">
            {% for card in include.cards %}
              {% include card.html card=card %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
