{% assign pages = site.pages | where_exp:"item","item.permalink contains '/topics/' and item.name != 'index.md'" %}
{% assign cards = pages %}
{% assign featured = cards | where_exp:"item","item.featured" | sort:"weight" %}
{% assign cards = cards | where_exp:"item","item.featured != true" | sort:"title" %}

{% assign cards = featured | concat: cards %}

<div class="crt-landing--section crt-lightblue" markdown="0">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="tablet:grid-col-10">
        <h2 class="h1">
          {{ include.understand.heading }}
        </h2>
        <div class="crt-landing--separator"></div>
        <p class="crt-landing--lead">
          {{ include.understand.lead }}
        </p>
      </div>
      <div class="tablet:grid-col-12">
        <div class="grid-row grid-gap">
          <p class="crt-landing--largetext">
            {{ include.understand.content }}
          </p>
          <ul class="usa-card-group">
            {% for card in cards limit:3 %}
              {% include card.html card=card %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
