<!DOCTYPE html>
{% assign lang = page.lang %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}
<html lang={{lang}}>
{% include meta.html %}
<body>
  {% include header.html %}
  <main id="main-content" class="margin-top-0 margin-bottom-0">
    {% include notice.html %}
    {{ content }}
  </main>
  {% if page.yesno %}
    {% include touchpoints_yesno.html %}
  {% endif %}
  {% include footer.html %}
  {% unless page.back-to-top == nil or page.back-to-top == false  %}
  {% include back-to-top.html %}
  {% endunless %}
  {% unless page.title == "Give Us Feedback" %}
  {% include touchpoints.html %}
  {% endunless %}
  {% include redirect-modal.html %}
  {% include scripts.html %}
</body>
</html>
