<!DOCTYPE html>
{% assign lang = page.lang %}
{% if lang==nil %}{% assign lang="en" %}{% endif %}
<html lang={{lang}}>
{% include meta.html %}
<body>
  {% include header.html %}
  <main id="main-content" class="margin-top-0 margin-bottom-0">
    {% include notice.html %}
    {{ content }}
    {% if page.page-helpful != false %}
      {% if page.sidenav or page.subpagenav %}{% assign sidenav=true %}{% else %}{% assign sidenav=false %}{% endif %}
      {% include touchpoints-page-helpful.html sidenav=sidenav in-sidenav=false %}
    {% endif %}
  </main>
  {% include footer.html %}
  {% unless page.back-to-top == nil or page.back-to-top == false  %}
  {% include back-to-top.html %}
  {% endunless %}
  {% if page.interactive-headers %}
  {% endif %}
  {% unless page.title == "Give Us Feedback" %}
  {% include touchpoints.html %}
  {% endunless %}
  {% include redirect-modal.html %}
  {% include scripts.html %}
</body>
</html>
