---
layout: default
---

<div class="crt-page grid-container">
  <div class="grid-row grid-gap-xl">
    {% if page.sidenav %}
    <div id="crt-page--sidenav" class="desktop:grid-col-4">
      {% include sidenav.html %}
    </div>
    {% endif %}
    <div id="crt-page--content" class="{% if page.sidenav %}tablet:grid-col-8{% endif %}">
      {% if page.disclaimer %}
      {% include alert.html title="This is a test site. Do not rely on the information provided." text="This webpage is a prototype meant for user research. It has not undergone final review for legal accuracy and is not intended to provide legal guidance." %}
      {% endif %}
      <h1 id="top">{{page.title}}</h1>
      <div class="crt-landing--separator_small"></div>
      {% if page.lead %}
        <div class="crt-lead">
          {{page.lead | markdownify}}
        </div>
      {% endif %}
      {{ content }}
    </div>
  </div>
</div>
