@use "uswds-core" as *;
@use 'variables' as *;

$arrow-height: 24px;

.crt-landing--section:not(.crt-landing--hero) {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include at-media-max(mobile-lg) {
    &.crt-landing--alert {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 0;
    line-height: 1.3;
  }

  h2 {
    margin-top: 1.5rem;
    margin-bottom: 0;

    @include at-media-max(mobile-lg) {
      margin-top: 0;
    }
  }
}

.crt-landing--section {
  &__item {
    &:not(:last-child) {
      @include at-media-max(mobile-lg) {
        margin-bottom: 2.5rem;
      }
    }
  }
}

.crt-landing--hero {
  padding-top: 0;

  @include at-media(tablet) {
    background-image: url($theme-hero-image);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    background-position: bottom;
  }

  @include at-media(widescreen) {
    min-height: 550px;
  }

  @media (min-width: 1700px) {
    background-position: center;
  }
}

.crt-landing--alert {
  &_header {
    color: color($theme-color-warning);
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .crt-button--large {
    background: color($theme-color-warning);
    color: color($theme-color-primary-darker) !important;

    &:hover {
      background: color($theme-color-warning-dark);
    }
  }
}

.crt-landing--lead {
  @include text--heading__large();
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  @include at-media-max(mobile-lg) {
    margin-bottom: 2rem;
  }
}

.crt-landing--largetext {
  @include text--heading__medium();
  @include at-media-max(mobile-lg) {
    @include text--body-copy__medium();
  }
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.crt-landing--smalltext {
  @include text--body-copy__small();
}

.crt-landing--icon-tag {
  @include text--heading__medium();
  font-family: family("heading");
  font-weight: $theme-font-weight-bold;
}

.crt-landing--how_to_report {
  .crt-landing--largetext {
    @include at-media-max(mobile-lg) {
      font-size: $theme-heading-font-size-lg-mobile;
      line-height: 1.3;
      margin-bottom: 2rem;
    }
  }

  .crt-landing--icon_gold {
    @include flex-container();
    border-radius: 2rem;
    justify-content: center;
    min-height: 32px;
    min-width: 32px;
    width: 32px;
    height: 32px;
    background-color: color($theme-color-warning);
    margin-right: 1rem;
  }

  .crt-landing--reporting_column {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    @include at-media-max(mobile-lg) {
      margin-top: 0;
    }

    h3 {
      min-height: 3rem;
      margin-top: 0;

      @include at-media-max(desktop) {
        min-height: unset;
      }
    }
  }
}

.crt-landing--submit {
  padding-top: calc(2rem - #{$arrow-height});

  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include at-media-max(mobile-lg) {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  p.crt-landing--text {
    @include text--body-copy__medium;
    margin-bottom: 0;

    a {
      font-weight: bold;
    }
  }
}

.crt-landing--arrow {
  width: 100px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: $arrow-height solid color($theme-color-primary-darker);
}
