@use "uswds-core" as *;
@use 'variables' as *;

.usa-pagination__list [hidden] {
  display: none;
}

.usa-search--small [type="submit"] {
  background-color: color($theme-color-primary-darker);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.5rem;
}

label.usa-sr-only {
  color: white;
}

@include at-media(mobile) {

  .usa-search--small [type="submit"],
  .usa-search--small .usa-search__submit {
    min-width: 5rem !important;
  }
}

@include at-media(desktop) {

  input#query {
    max-width: 20ch !important;
  }

  .usa-search--small input[type="search"] {
    border-color: color("white");
  }

  .usa-search--small [type="submit"],
  .usa-search--small .usa-search__submit {
    background-color: color($theme-color-base-lighter);
    color: color($theme-color-primary-darker);
    min-width: 5rem !important;

    &:hover {
      background-color: color("gray-cool-20");
    }
  }
}
