@use "uswds-core" as *;
@use 'variables' as *;

.crt-page.grid-container .usa-sidenav {
  margin-left: 0;
  margin-right: 0;
}

#crt-page--sidenav {
  a:not(.crt-page--downloadpdf-button)  {
    color: color($theme-text-color);

    &.usa-current {
      color: color($theme-color-primary-darker);

      &:after {
        background-color: color($theme-color-primary-darker);
      }
    }
  }

  .usa-sidenav__sublist {
    li {
      a {
        &:focus {
          background-color: color($theme-color-base-lightest);
        }
      }
    }
  }

  .usa-accordion .usa-summary-box__heading .usa-accordion__button {
    @extend .h4 !optional;
    background-color: color($theme-color-primary-lighter);
    color: color($theme-color-primary-darker);
    background-image: url('./images/remove.svg');

    &[aria-expanded='false'] {
      background-image: url('./images/add.svg');
    }
  }

  .usa-accordion .usa-summary-box__text {
    a {
      @include u-font-family('sans');
    }
  }

  .usa-summary-box__link {
    &:hover,
    &:focus {
      color: color($theme-color-primary-vivid);
    }
  }

  .usa-accordion:not(.usa-summary-box__body) {
    // margin-bottom: 2rem;

    @include at-media(desktop) {
      max-height: calc(100vh - 1.5rem * 2);
      overflow-y: auto;
    }
  }

  .usa-accordion__button {
    background-color: color($theme-color-primary-darker);
    background-image: url('./img/usa-icons-bg/remove--white.svg');
    color: color('white');
    font-weight: normal;
    @include u-radius('md');

    &[aria-expanded='false'] {
      background-image: url('./img/usa-icons-bg/add--white.svg');
    }
  }

  .usa-accordion__content {
    background-color: color($theme-color-primary-lightest);
    @include u-shadow(2);
  }

  .usa-sidenav__sublist {

    .crt-sidenav-subnav-item{
      font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
    }

    li.usa-accordion {
      // margin-bottom: 2rem;
      margin-top: 0px;
      @include at-media(desktop) {
        overflow-y: visible;
        display: inline;
      }

      .usa-accordion__content {
        box-shadow: none;
      }
    }

    * .usa-accordion__button {
      color: #2e2e2a;
      background-image: url("./images/remove.svg");
      background-color: transparent;
      border-radius: 0px;
      font-size: 1rem;
      padding-left: 2rem;
      font-family: Public Sans Web, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: rgb(223, 225, 226);
      padding-bottom: 0.25rem;

      &[aria-expanded="false"] {
        background-image: url("./images/add.svg");
      }


    }
  }

  @include at-media(desktop) {
    @include u-position('sticky');
    @include u-top(3);
    @include u-flex('align-self-start');

    .usa-accordion__content {
      background: none;
      padding: 0;
      @include u-shadow('none');

      &[hidden] {
        display: block;
      }
    }

    .usa-sidenav__sublist {
      a {
        @include text--body-copy__small();
      }
      * .usa-accordion__button {
        color: #2e2e2a;
        @include text--body-copy__small();
        &:focus, &:hover {
          background-color: color($theme-color-base-lightest);
        }
    }

      * .usa-accordion__content {
        &[hidden] {
          display: none;
        }
      }

      li.active {
        font-weight: bold;

        a {
          color: color($theme-color-primary-darker);
        }
      }
    }
  }
}