@use "uswds-core" as *;
@use 'variables' as *;

#fba-button {
    background: color($theme-color-warning);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: color($theme-color-primary-darker) !important;

    &:hover {
      background: color($theme-color-warning-dark);
    }
}

#fba-modal-dialog {
  background-color: none;
  border: none;
  margin: 0px;
  max-width: 100%;
  overflow-x: visible !important;

  .wrapper {
    padding: 0px !important;
  }

  .questions input,
  .questions textarea {
    border: solid 1px #767676 !important;
    border-radius: 4px !important;
  }

  #fba-modal-title,
  .fba-instructions,
  hr {
    display: none;
  }

  .grid-container {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }

  .usa-label[for=answer_01] {
    margin-top: 0px !important;
  }

  .usa-banner {
    background-color: #fff !important;
  }

  .usa-banner__inner {
    padding-left: 0px !important;
    max-width: 100% !important;
  }

  .usa-button{
    background-color: color($theme-color-primary-darker);
    &:hover {
      background-color: color($theme-link-hover-color) !important;
    }
    &:focus {
      background-color: color($theme-link-hover-color) !important;
    }
  }

  .usa-alert {
    padding-top: 0px !important;
  }

  .usa-alert::before {
    display: none !important;
  }

  .usa-alert--success {
    background-position-y: center;
  }

}

#touchpoints-yes-no-all-wrapper {
  padding: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: #d9e8f6;

  .fba-modal-dialog {
    background-color: #d9e8f6;
  }

  #touchpoints-longer-feedback-form {
    .question.white-bg {
      background: white;
      border-radius: 5px;
      margin-bottom: 1em;
      padding: 1.25em;
    }
  }

  #touchpoints-yes-no-form {
    .question.white-bg {
      background-color: #d9e8f6;
    }

    .questions label {
      display: none;
    }
  }

  .usa-button{
    background-color: color($theme-color-primary-darker);
    &:hover {
      background-color: color($theme-link-hover-color) !important;
    }
    &:focus {
      background-color: color($theme-link-hover-color) !important;
    }
  }

}
