@use "uswds-core" as *;
@use 'variables' as *;

.column-list {
  @include at-media(desktop) {
    column-count: 2;
  }
}

.fixed-tab-button {
  bottom: 0;
  position: fixed;
  margin-right: 0.5rem;
  right: 12px;
  width: auto;
  z-index: 9999;
}

.grid-gap-xl {
  @include grid-gap(6);
}

.no-bullets {
  list-style-type: none;
  padding-left: 0px;
}
