@mixin add-background-svg($image-name, $image-path: $theme-image-path) {
  $image-name: unquote($image-name);
  background-image: asset_url("#{$image-path}/#{$image-name}.svg"),
    linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}
