.usa-pagination__list [hidden] {
  display: none;
}

.usa-search--small [type="submit"] {
  background-color: color($theme-color-primary-darker);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1.5rem;
}

.shrink-search {
  min-width: 2rem !important;
  right: 1rem !important;
  max-width: 27ch !important;
}

label.usa-sr-only {
  color: white;
}

@include at-media(desktop) {
  .usa-search--small input[type="search"] {
    border-color: color("white");
  }

  .usa-search--small [type="submit"],
  .usa-search--small .usa-search__submit {
    background-color: color($theme-color-base-lighter);
    background-image: url("/assets/img/usa-icons/search.svg");

    &:hover {
      background-color: color("gray-cool-20");
    }
  }
}
