name: Run Accessibility Tests
on: [push]
jobs:
  build:
    name: Run Accessibility Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2

      - name: Install Ruby Dependencies
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.0
          bundler-cache: true

      - name: Install Node.js Dependencies
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - run: npm install

      - name: Start Server
        run: npm run start:sass && npm run start:js && bundle exec jekyll serve --config _config.yml,_config_test.yml --detach

      - name: Run Accessibility Tests -- Desktop
        run: npm run test:a11y-desktop

      - name: Run Accessibility Tests -- Mobile
        run: npm run test:a11y-mobile

