name: Run Accessibility Tests
on: [push]
jobs:
  build:
    name: Run Accessibility Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source
        uses: actions/checkout@v2

      - name: Install Ruby Dependencies
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.6.6
          bundler-cache: true

      - name: Install Node.js Dependencies
        uses: actions/setup-node@v2
        with:
          node-version: "12"
      - run: npm install

      - name: Start Server
        run: bundle exec jekyll serve --config _config.yml,_config_test.yml --detach

      - name: Run Accessibility Tests -- Desktop
        run: npm run test:a11y-desktop

      - name: Run Accessibility Tests -- Mobile
<<<<<<< HEAD
        run: npm run test:a11y-mobile
=======
        run: npm run test:ally-mobile
>>>>>>> 42b990b (Added new config file with mobile viewports, updated package json and github actions)
