name: Build content grid

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./scripts
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Make the script files executable
        run: chmod +x create_content_grid.sh
      - name: Build content grid
        run: ./create_content_grid.sh

      - name: Archive content grid results
        uses: actions/upload-artifact@v4
        with:
          name: content_grid
          path: ./scripts/out/content_grid.csv
