name: Google Pagespeed Test
on: [push]
jobs:
  build:
    name: Google Pagespeed Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Install Ruby Dependencies
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.4
          bundler-cache: true

      - name: Install Node.js Dependencies
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - run: npm install

      - name: Install
        run: |
          npm ci

      - name: Start Server
        run: npm run build:css && npm run build:js && bundle exec jekyll serve --config _config.yml,_config_test.yml --detach
      
      - name: Run Lighthouse CI
        uses: treosh/lighthouse-ci-action@v2
        with:
          configPath: "./lighthouserc.json"
          temporaryPublicStorage: true