name: psi-gh-action
on: [push]
jobs:
  build:
    name: psi-gh-action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Install Ruby dependencies
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7.4
          bundler-cache: true

      - name: Install Node.js dependencies
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - run: npm install --production

      - name: Build site
        run: bundle exec jekyll build

      - name: psi-gh-action
        uses: mazipan/psi-gh-action@1.7.0
        with:
          api_key: AIzaSyD9rJS-CZo3FHg0lG_ytOY_58hNXyYT0PU
          urls: |
            https://www.ada.gov/
            https://www.ada.gov/topics/
            https://www.ada.gov/law-and-regs/
            https://www.ada.gov/resources/
            https://www.ada.gov/cases/
          devices: |
            mobile
            desktop
          runs: 1
          max: 10
          branch: main
          push_back: true
          override: false
          token: ${{ secrets.GITHUB_TOKEN }}